<p>
  <%= link_to "new", new_build_url %>
</p>

<% @builds.each do |build| %>
  <div class="build">
    <%= link_to "Download", download_url(build.ipa_digest) %>
    <div class="pull-right">
        <%= time_ago_in_words build.created_at %>
        <%= link_to "plist", plist_url(build.ipa_digest) %>
        <%= build.ipa_digest %>
    </div>
  </div>
<% end %>
