<!DOCTYPE html>
<html>
<head>
  <title>Apphoster</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="container">
      <div class="header">
        <h3 class="text-muted">Apphoster</h3>
      </div>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

      <div class="footer">
      <p>

      </p>
      </div>

    </div>

</body>
</html>
